*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}


/* Color palette */
:root {
  --c-white: #ffffff;
  --c-white-soft: #e6e6e6;
  --c-white-trans: rgba(255, 255, 255, 0.3);

  --c-black: #151515;
  --c-black-soft: #1a1a1a;
  --c-black-mute: #5e5e5e;
  --c-black-trans: rgba(0, 0, 0, 0.3);

  --c-red: rgb(207, 43, 43);

  // Text
  --c-text-light-1: var(--c-black);
  --c-text-light-2: var(--c-black-mute);

  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: var(--c-white-mute);

  // Dividers
  --c-div-light: rgba(80, 80, 80, .25);
  --c-div-dark: rgba(130, 130, 130, 0.7);

  // Outline
  --c-out-light: rgba(47, 47, 47, 0.413);
  --c-out-dark: rgba(130, 130, 130, 0.7);

  // Background
  --c-bg-light-1: var(--c-white);
  --c-bg-light-2: var(--c-white-mute);

  --c-bg-dark-1: var(--c-black);
  --c-bg-dark-2: var(--c-black-mute);
}

:root {
  font-family: Kadwa, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--c-bg-light-1);
  color: var(--c-text-light-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-image: url(../assets/paper_2.png);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;

  background-color: var(--c-bg-light-2);
  background-blend-mode: screen;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  text-transform: uppercase;
  line-height: 1.1;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: bold;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .25rem;
}

h4 {
  margin: .5rem;
  font-weight: bold;
}

p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

a {
  font-weight: 500;
  color: var(--c-text-light-1);
  text-decoration: none;
}

label {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  display: flex;
  flex-direction: column;
  text-align: center;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--c-text-light-1);
  background: transparent;
  background-color: transparent;
  font-family: Schoolbell, Kadwa, Arial, sans-serif;
  text-transform: uppercase;
  font-size: clamp(1.4rem, 6vw, 1.6rem);
  border: none;
  border-bottom: solid var(--c-text-light-1) 3px;
  border-radius: 0;
  accent-color: var(--c-text-light-1);
  padding: .2rem;
  margin-top: 1rem;

  &::placeholder {
    color: var(--c-black-trans);
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  accent-color: var(--c-text-light-1);
  color: var(--c-text-light-1);
  background: transparent;
  background-color: transparent;
  text-transform: uppercase;
  border: 3px solid var(--c-text-light-1);
  padding: 0.6em 1.2em;
  margin-top: 1rem;
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  font-family: inherit;
  border-radius: 0.5rem;
  transition: background-color 0.25s;
  cursor: pointer;

  &:hover {
    background-color: var(--c-white-trans);
  }
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus,
select:focus,
select:focus {
  outline: solid var(--c-out-light) 2px;
  box-shadow: none;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  accent-color: var(--c-text-light-1);
  color: var(--c-text-light-1);
  background: transparent;
  background-color: transparent;
  text-transform: uppercase;
  border: 3px solid var(--c-text-light-1);
  padding: 0.6em 1.2em;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 0.5rem;
  transition: background-color 0.25s;
  cursor: pointer;

  &:hover {
    color: var(--c-text-light-1);
    background-color: var(--c-white-trans);
  }
}

ul {
  padding: 0;
  font-size: clamp(1rem, 2vw, 1.2rem);

  li {
    list-style: none;
  }
}