*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: Kadwa, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  border-radius: .25rem;
}

a:hover {
  color: grey;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-image: url(../assets/paper_2.png);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  text-transform: uppercase;
  line-height: 1.1;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: bold;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .25rem;
}

h4 {
  margin: .5rem;
  font-weight: bold;
}

p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

label {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  display: flex;
  flex-direction: column;
  text-align: center;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: black;
  background: transparent;
  background-color: transparent;
  font-family: Schoolbell, Kadwa, Arial, sans-serif;
  text-transform: uppercase;
  font-size: clamp(1.4rem, 6vw, 1.6rem);
  // font-weight: bold;
  border: none;
  border-bottom: solid black 3px;
  border-radius: 0;
  accent-color: black;
  padding: .2rem;
  margin-top: 1rem;

  &::placeholder {
    color: rgba(100, 85, 69, 0.576);
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  accent-color: black;
  color: black;
  background: transparent;
  background-color: transparent;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 0.6em 1.2em;
  margin-top: 1rem;
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  font-family: inherit;
  border-radius: 0.5rem;
  transition: background-color 0.25s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.467);
  }
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible input:focus,
input:focus-visible,
textarea:focus,
textarea:focus,
select:focus,
select:focus {
  outline: solid rgb(0, 0, 0) 3px;
  outline-offset: .25rem;
  box-shadow: none;

}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  accent-color: black;
  color: black;
  background: transparent;
  background-color: transparent;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 0.6em 1.2em;
  font-size: 1.6rem;
  font-family: inherit;
  border-radius: 0.5rem;
  transition: background-color 0.25s;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.467);
  }
}

ul {
  padding: 0;
  font-size: clamp(1rem, 2vw, 1.2rem);

  li {
    list-style: none;
  }
}